.Signup-container {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Signup-container h1,
.Signup-container h2 {
  text-align: center;
  color: #333;
}

.profilepreview {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.profilepreview img {
  border-radius: 50%;
  object-fit: cover;
  background-color: #33333346;
}

.ids-inputs {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-id-status {
  text-align: center;
  margin: 10px 0;
}

.user-id-status.available {
  color: green;
}

.user-id-status.taken {
  color: red;
}

.error {
  color: red;
  text-align: center;
}

.profilebtn {
  width: 100%;
  color: #007bff;
}

button {
  width: 100%; /* Adjusting for padding and border */
  margin: 10px 0;
  background-color: #007bff;
  place-items: center;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}